[2018-08-18 21:02] bigboateng opened #1 "Does this support caching?"
If you scroll to down to many pages does it store every other item in previous pages?

[2018-08-18 23:45] penjual opened #2 "Error occurs while still loading page and push to another page"
flutter: ══╡ EXCEPTION CAUGHT BY SCHEDULER LIBRARY ╞═════════════════════════════════════════════════════════
flutter: The following NoSuchMethodError was thrown during a scheduler callback:
flutter: The method 'visitChildren' was called on null.
flutter: Receiver: null
flutter: Tried calling: visitChildren(Closure: (Element) => Null)
flutter:
flutter: When the exception was thrown, this was the s

[2018-10-11 11:55] szotp opened #3 "Suggestion: use controller pattern"
The plugin works nice but it would be good to have info have many pages have been loaded, etc. Also setup is kind of annoying because you have to pass bunch of callback which are dynamic for some reason.

Flutter uses Controller pattern, for example TextEditingController that stores this kind of data, so that it can be accessed from other widges. Something like this would probably work:
[code]

[2018-10-14 18:48] AbdulRahmanAlHamali commented on #3
That is a good idea! I'm actually working on a restructuring of the whole widget, to make it more efficient, and to make it not need a totalCount parameter. I will try to include the controller pattern with those upcoming changes.

Thank you for the suggestion!

[2018-10-15 05:31] szotp commented on #3
Good luck then.

[2018-10-15 06:29] anderscheow commented on #3
Can you add a fallback or error widget if snapshot return error, so that the fallback or error widget which has a button to retry the API call

[2018-10-15 06:53] anderscheow opened #4 "Support for retry all failed request"
When I clicked on the refresh indicator on the error builder, it only retry the particular failed request. I suggest it should retry for all the failed request or at least add a flag to control that.

[2018-10-15 07:05] AbdulRahmanAlHamali commented on #4
Yeah, that is true.

In the new version that I'm working on that won't be a problem, because only one refresh widget will be displayed anyway, unlike the current, inefficient version

[2018-10-15 07:14] anderscheow opened #5 "Give access to retry()"
In order to build a custom RetryWidget, we need access to retry() method to retry the request

[2018-10-15 07:19] AbdulRahmanAlHamali commented on #5
Yes, the retryBuilder is by default provided with two parameters:

* The BuildContext
* And a function for you to call to retry.

For example:

[code]

[2018-10-15 09:43] #5 closed

[2018-10-15 09:43] #1 closed

[2018-10-15 09:44] #2 closed

[2018-10-17 03:26] anderscheow opened #6 "pageFuture called for previous page"
I've tons of pages of data, when I scroll to page 4 or 5, then I scroll up, pageFuture for page 1 rebuild (API page 1 called)

[2018-11-02 02:43] anderscheow commented on #6
Any update on this?

[2018-11-07 08:55] raffaelecolleo opened #8 "Search feature"
Hi guys,
I am developing an app and I would like to integrate it with a search function.
Basically I am going to add to my appbar a new class that will extend searchDelegate and build all the necessary things for a "modal" search.

`
class ShowSearch extends SearchDelegate<BackendService> {

  @override
  List<Widget> buildActions(BuildContext context) {
    // TODO: implement buildActions
    ret

[2018-11-08 02:55] raffaelecolleo opened #9 "Scrolling Problem"
Hi,
when scrolling up or down it seem that the loading are is not being blocked inside the screen.
Should n't be looking the scaffold on the next X loading items with the circular loader?

[2018-11-08 05:01] raffaelecolleo commented on #8
Solved.
Just Changed
`pageFuture: BackendService().getSearchItems`
 to
`pageFuture: (pageIndex){ return myFuncion(); }`

Thanks anyway guys!!!

[2018-11-08 05:01] #8 closed

[2018-11-15 23:43] TheDeveloperYJ opened #10 "Stop scrolling until next page is loaded!"
Hey , loved your plugin ! I have a doubt.

Suppose my pagesize is 10 items and after scrolling through 10 items I need to wait for another 10 items to load but unless they are loaded I cannot scroll . Is there any way to achieve this using pagewise .

[2018-11-27 05:46] raffaelecolleo opened #11 "Future<int> to int for totalCount"
totalCount just accepts an int and I need to get this value from an external source (JSON result for a query to a DB).

This problem happens using an extended class of SearchDelegate.

`@override
  Widget buildResults(BuildContext context) {
    // TODO: implement buildResults
    return PagewiseGridView(
        pageSize: 10,
        totalCount: BackendService.getSearchTotals(query),
        cros

[2018-12-16 13:14] AbdulRahmanAlHamali commented on #11
Hello @raffaelecolleo , I apologize for the late answer. But due to a series of unfortunate events, I was too overwhelmed lately to follow up with the packages.

I have rewritten Pagewise, so that it does not require a `totalCount` anymore in version 1.0.0. Thus, I will close the issue as fixed in the new version.

If you prefer to use the older version. Then you could wrap the whole pagewise widg

[2018-12-16 13:14] #11 closed

[2018-12-16 13:16] AbdulRahmanAlHamali commented on #10
Hello @TheDeveloperYJ , I apologize for the late answer. But due to a series of unfortunate events, I was too overwhelmed lately to follow up with the packages.

Yes, this is indeed annoying. That's why I rewrote Pagewise from scratch, and now it stops scrolling until the next page is loaded!

I will close this as fixed in version 1.0.0

[2018-12-16 13:16] #10 closed

[2018-12-16 13:17] AbdulRahmanAlHamali commented on #9
Hello @raffaelecolleo , I apologize for the late answer. But due to a series of unfortunate events, I was too overwhelmed lately to follow up with the packages.

Yes, this is indeed annoying. That's why I rewrote Pagewise from scratch, and now it stops scrolling until the next page is loaded!

I will close this as fixed in version 1.0.0

[2018-12-16 13:17] #9 closed

[2018-12-16 13:19] AbdulRahmanAlHamali commented on #6
Hello @anderscheow  , I apologize for the late answer. But due to a series of unfortunate events, I was too overwhelmed lately to follow up with the packages.

I have rewritten Pagewise from scratch. The new architecture is supposed to fix many problems with the package! Can you confirm if that issue is still a problem in the new version 1.0.0?

[2018-12-16 13:21] AbdulRahmanAlHamali commented on #4
Hello @anderscheow , I apologize for the late answer.

I rewrote Pagewise from scratch, and now it stops scrolling until the next page is loaded, and shows only one loading at a time.

I will close this as fixed in version 1.0.0

[2018-12-16 13:21] #4 closed

[2018-12-17 02:02] anderscheow commented on #6
I will try on this, thanks for the update! Keep it up!

[2018-12-17 02:35] anderscheow opened #12 "How to integrate RefreshIndicator"
Can you show me how to integrate RefreshIndicator where the Pagewise will reset it data

[2018-12-17 23:47] AbdulRahmanAlHamali commented on #12
This is currently not available. However, I am rolling in a new update (hopefully tomorrow), which will provide a controller that you can use to reset, and do other useful functionality with the data

[2018-12-18 02:48] anderscheow commented on #12
Well that's great, it would be useful for me

[2018-12-18 13:07] #3 closed

[2018-12-18 13:11] AbdulRahmanAlHamali commented on #12
Hello, I pushed version 1.1.0, which should hopefully provide the features you are looking for. Would you kindly check it out?

[2018-12-18 13:11] #12 closed

[2018-12-18 13:11] AbdulRahmanAlHamali commented on #3
Thank you for your suggestion. I am sorry it took that long to implement, but I had an overwhelming couple of months.

I did implement the controller pattern indeed and I think it looks great! Do you mind checking it out?

[2018-12-18 13:44] szotp commented on #3
Hi @AbdulRahmanAlHamali this looks nice, thanks for following my suggestion. There is a gotcha related to ChangeNotifier because you need to check if it was not replaced in didUpdateWidget method. You can see how flutter team did it here:

https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/text_field.dart#L455

[2018-12-18 13:55] AbdulRahmanAlHamali commented on #3
Ohh thank you for the note! I will fix that today!

[2018-12-18 13:56] AbdulRahmanAlHamali opened #17 "implement didUpdateWidget to unsubscribe from old controller and resubscribe to the new one"

[2018-12-18 14:24] #17 closed, assigned to nobody

[2018-12-18 14:34] AbdulRahmanAlHamali commented on #3
And done! Thank you again @szotp!

[2018-12-18 23:05] AbdulRahmanAlHamali opened #22 "Switching from one widget.controller to another is not accounted for in didUpdateWidget"

[2018-12-26 16:02] ResoDev opened #24 "Dynamic constructor parameters aren't helpful"
First of all, thank you for this amazing library!

Constructors of PagewiseListView have only dynamic values while I see that Pagewise base class has them all properly typed. The fact that the class which is exposed to us doesn't have types for its parameters is not the best thing. Is it possible to add types even to the classes extending Pagewise?

[2018-12-27 08:01] AbdulRahmanAlHamali commented on #24
yeah @ResoDev that's a good idea!

I will be pushing a release this weekend and will make sure to include it. Thank you!

[2019-01-04 03:48] ariefwijaya commented on #6
Any update on this? sometime first page was duplicated but sometime doesn't, i've tried to find it but i couldn't

[2019-01-07 07:43] Carrein opened #25 "'(BuildContext, dynamic, int) => dynamic' is not a subtype of type '(BuildContext, dynamic, int) => Widget'."
Returning `post.test()` in `itemBuilder()` yields the following error. I cannot seem to get pass it other than constructing the widget in the same class as the pagewise Widget instead of the the Post widget.

*post.dart*
[code]
[code]

[2019-01-07 07:52] AbdulRahmanAlHamali commented on #25
Hello @Carrein, Thank you for reporting the issue. Could you please post how you are using the Pagewise widget, so that I can see the whole picture?

[2019-01-07 08:04] kostasoft opened #26 "Adding a header at the top of the list?"
How to add a header at the top of the list?
I can not understand what to do with indices.

[2019-01-07 08:11] AbdulRahmanAlHamali commented on #26
Hello @kostasoft, the header at the top of the list will probably not be part of the list itself. You can put the list with the header in another widget, like a Column or a ListView to add your header.

Regarding the index, you don't need to use it in most cases. So if you want, your itemBuilder could look like:
[code]

Where the underscore indicates that you don't want to use the index

[2019-01-09 03:19] Carrein commented on #25
Thanks @AbdulRahmanAlHamali.

[code]

[2019-01-09 07:38] Carrein commented on #25
Okay I "fixed" this by assigning `entry` to a Post instance first:

[code]

[2019-01-09 13:44] AbdulRahmanAlHamali commented on #25
Hello,
Does it work to say:
[code]

I don't think that is a problem with Pagewise itself.

[2019-01-09 13:46] AbdulRahmanAlHamali commented on #6
I see, I will look into it over the weekend and provide a fix. I think I know what might be the cause of this.

Thank you!

[2019-01-09 22:35] AbdulRahmanAlHamali commented on #6
@Carrein do you mind sharing your code?

[2019-01-10 02:03] Carrein commented on #25
Doesn't seem to work i.e. same error:

[code]

[2019-01-15 08:22] raffaelecolleo opened #27 "New version 1.2.0 integration with Wordpress"
Hi guys,
I've checked Your new version and it's a little confusing for me. Could You please explain me how do I integrate this with a JSON request that is paginated?
What I mean is that I have a JSON request that should pull 1243 results, but I don't want then to be loaded at once. So the JSON request is called every time I get to the end of the 10 results I just pulled.

Does it make sense?

Than

[2019-01-16 09:32] raffaelecolleo commented on #27
{"status":"ok","total":10,"count_total":13145,"offset":0,"pages":1315,"posts":[{"id":60183,"wpcf-model-name":"CHEVROLET VERANEIO (1968)","wpcf-reference":"2B2EB145","wpcf-date-added-to-db":"06\/12\/2018","wpcf-main-image":"https:\/\/www.mydomain.com\/wp-content\/models\/2018\/11\/2B2EB145-1.jpg","wpcf-image_2":"https:\/\/www.mydomain.com\/wp-content\/models\/2018\/11\/2B2EB145-2.jpg","wpcf-image_3

[2019-01-18 12:45] AbdulRahmanAlHamali commented on #27
Hello, I apologize I couldn't answer any sooner.

Inside your JSON structure, you have an array called posts. You should return this array in the `pageFuture` callback. Does this make sense?

[2019-01-19 23:50] AbdulRahmanAlHamali opened #28 "Looking for contributors"
Hello all,

I am low on time, and I don't want to keep this project hanging. So, is anyone interested in helping maintain the project, implement new features, etc. ?

[2019-01-22 08:31] asapJ opened #29 "Provide full working example for the plugin And proper documentation"
Nice job On this plugin, but it will really help users get along if a full example is provided for the plugin and also if the parameter are well documented, thanks

[2019-01-22 23:58] AbdulRahmanAlHamali commented on #29
Hello @asapJ, thank you for your feedback. I really appreciate it!

I will improve on the documentation as soon as I can. Unfortunately time hasn't been the most abundant resource recently..

Regarding the example, what is missing from the examples provided in the example directory? Maybe I can add what you're missing!

[2019-01-23 01:57] Blendstrup opened #30 "Providing own PagewiseLoadController and using reset() messes up PageIndex"
Hey there!

First of all, this is an awesome package! It has really saved me a ton of work. Thank you very much for the work you have done.

However, I have run into some problems using this package. I have recently changed my code so that my list (using Pagewise) is now using my own PagewiseLoadController that I have stored in a scoped model. I have done this in order to be able to reset the list

[2019-01-23 12:00] asapJ commented on #29
The example get items from a "dummy Future" which is not so clear as it doesn't  apply to real world example and also. Probably a more realistic example where data is actually fetched from an api including value for pageSize also gotten from the api call,  should be added to the example folder,  or make a full tutorial on medium then attach the link to plugin description.

[2019-01-24 10:08] AbdulRahmanAlHamali commented on #29
That definitely is a good idea! I'll look into it.

The problem is that I am currently low on-time, and do not have much exposure to Flutter anymore (I moved from UI development to DevOps development, completely unrelated)

I'll try to get to it in the weekend. In the meantime, if you have questions about how to use something, I would be glad to help!

[2019-01-24 10:51] lifenautjoe opened #31 "Can't provide controller. Assertion failed."
When trying to provide a controller as following

[code]

An exception is thrown

[code]

The PagewiseListView has no pageSize nor pageFuture, while the controller does.

[2019-01-24 11:07] lifenautjoe commented on #31
Uh, the argument expected is `pageLoadController` not `controller` as everywhere else in the flutter ecosystem. 🤦‍♂️

[2019-01-24 11:07] #31 closed

[2019-01-24 11:10] lifenautjoe opened #32 "Page wise controller reset does not return a Future"
In the readme its stated that the reset method could be used together with the `RefreshIndicator`, the refresh indicator however expects the `onRefresh` method to return a `Future`. The `PagewiseLoadController` `reset` methods returns void as contrary to the example in the readme.

[2019-01-24 11:30] lifenautjoe commented on #30
Experiencing same issue. None of the proposed hacks worked either...

[2019-01-24 11:45] lifenautjoe opened #33 "Exception thrown on scrolling"
Scrolling down and then up causes the following exception to be thrown

[code]

[2019-01-24 11:56] lifenautjoe commented on #30
I suspect this has something to do with not cleaning up listeners.

[2019-01-25 01:01] AbdulRahmanAlHamali commented on #33
Hello @lifenautjoe, Thank you for reporting the issue. I suspect that you have a GridView. Correct?

I have had the same problem too, and it is related to the way the loading widget is rendered when the remaining number of entries is not divisible by the ChildCount.

The problem is that I am currently extremely low on time. I will try to give the issue a shot over the weekend, but I can't guarante

[2019-01-25 01:02] AbdulRahmanAlHamali commented on #30
Understood, I will try my best to look into it over the weekend.

If anyone is interested in helping and submitting a pull request, it would be great too! I am currently looking for collaborators for the project, because of my lack of time.

[2019-01-25 01:10] AbdulRahmanAlHamali commented on #32
This hasn't caused a problem before, but I think it should be solved by specifying a type for reset, which is Future<void>. I will implement the fix in the weekend along with other fixes.

Thank you for reporting!

[2019-01-25 01:11] Blendstrup commented on #30
@AbdulRahmanAlHamali awesome, thanks for the help. I'll try a few things out as well.

If I had the abilities I would love to help out, but I have a very limited experience with programming, and only started Flutter a few months ago. Sorry that I can't help, but I will cross my fingers in the hopes that you'll find a helping hand soon.

[2019-01-25 01:12] AbdulRahmanAlHamali commented on #31
I agree that it is a bit confusing, but my problem is that I also have a `ScrollController`, which allows you to control the scrolling. This is the one that I called `controller`, to confirm with the `controller` property of `ListView` and `GridView`. Do you have another approach in mind?

[2019-01-25 01:14] AbdulRahmanAlHamali commented on #30
@Blendstrup Thank you! I hope so too!

[2019-01-29 19:52] Blendstrup commented on #30
Hey @AbdulRahmanAlHamali

So I've been working quite a bit on my code these last few days, and somehow I've fixed this issue.

Unfortunately I don't know what I did to fix it, because I've change a whole bunch of code. My best guess would be that it was solved when I updated the data models I had for the fetched json, because I've given those a major overhaul. Nevertheless I can't be certain that

[2019-01-30 06:59] Blendstrup commented on #30
*Solved it mostly

It seems that sometimes it loads the first fetched page twice, but then loads normally afterwards.

Not sure if this is because the pageIndex isn't incremented for the second fetch, but I suspect that might be the case.

[2019-01-30 09:02] ehhc opened #34 "[Question] Failing tests"
Hey guys,
Thanks for this cool library. I'm using it and i want to write WidgetTests for my app. The following shows a minimal working example of the app. Unfortunately my test is failing and i don't understand why. Can you help me by explaining why? How do i get my test running?

My App:
[code]

The failing test:
[code]

The error message is:
`══╡ EXCEPTION CAUGHT BY FLUTTER TEST FRAMEWORK ╞═════

[2019-02-01 01:42] AbdulRahmanAlHamali commented on #34
Hmmmm I am not sure. The Pagewise components only load their new components when we scroll down to them. This test could be failing because the "scrolling" is not happening, but I cannot confirm that.

I will try to test it in a couple of days and will get back to you

[2019-02-02 06:56] rakeshlanjewarwork opened #35 "exception if there is only items <= pageSize"
This pluginn is working great except this exception where there is one one item

Code:-

[code]

Exception Log:-
I/flutter (25161): ══╡ EXCEPTION CAUGHT BY RENDERING LIBRARY ╞═════════════════════════════════════════════════════════
I/flutter (25161): The following assertion was thrown during performLayout():
I/flutter (25161): SliverGeometry is not valid: The "maxPaintExtent" is less than the "pa

[2019-02-02 14:42] AbdulRahmanAlHamali commented on #35
Yes this is a known issue.

The thing is that, the way Pagewise is designed: the loader is part of the elements of the GridView, so when the number of the elements is less than the pagesize, I am forcing the loader to go down to the next level, which is why the error is happening. I will solve that soon hopefully

[2019-02-03 08:14] rakeshlanjewarwork opened #36 "Feature request:- can pass additional data with pageFuture"
Can we send additional data to pageFuture so we can make it more reusable.

[2019-02-03 14:39] AbdulRahmanAlHamali commented on #36
I don't mind that, but what sort of data might you need?

[2019-02-03 14:40] AbdulRahmanAlHamali commented on #27
Hello @raffaelecolleo,

Is your problem solved?

[2019-02-03 14:46] sjmcdowall commented on #36
I was thinking the same thing -- @rakeshlanjewarwork -- that is a pretty generic request.  Need more details -- can you provide user stories/use cases on what exactly you are looking for ?  How do you visualize it working?

[2019-02-03 14:46] rakeshlanjewarwork commented on #36
make it dynamic so i can pass any data,

This will be useful when we are making http.

[2019-02-03 14:56] rakeshlanjewarwork commented on #36
It will be helpful in this Scenario:-

[code]
now if we want to separate the code from UI like we do in scoped model.

now i have to access data like this widget.category.categoryId

[2019-02-03 15:02] AbdulRahmanAlHamali commented on #36
I see, but in this case, wouldn't make more sense to do the following:
[code]

And your `getCategoryPage` would accept a `pageIndex`, and a `categoryId`, achieving the required seperation from UI. What do you think?

[2019-02-03 15:10] rakeshlanjewarwork commented on #36
Thank you !
Thats what i want !!!

[2019-02-03 15:10] #36 closed

[2019-02-03 16:53] AbdulRahmanAlHamali commented on #30
Hello @Blendstrup, I finally got some time to look at the issue, but I cannot seem to replicate your problem. I made an example where I keep switching categories and fetching different data, and I didn't face the problem of the first page sticking and not changing.

I did not use a ScopedModel, and I am not really sure what that is as I have been away from the flutter world for a couple of months,

[2019-02-03 17:04] AbdulRahmanAlHamali commented on #25
@sjmcdowall I think we had a similar typing error in Typeahead, do you remember how we solved the problem eventually?

[2019-02-03 17:20] Blendstrup commented on #30
It doesn't always happen when using "official" categories from TMDb, like fetching top rated or popular movies, but it seems to always happen when fetching search results.

I've found that with "official" categories it happens often if one switches category and immediately scrolls to the bottom of the list. So at first it loads the initial 20 items, and then if you scroll down fast to the bottom o

[2019-02-03 17:32] sjmcdowall commented on #30
Agree that ScopedModel is very unlikely the culprit here -- I've used them quite a bit and never saw and odd thing like this.  If you can get a consistent (and hopefully GitHub project) that can reproduce the error that would be great!

[2019-02-03 17:53] Blendstrup commented on #30
@sjmcdowall I'm not quite sure what you mean, I don't really use GitHub much, but I can upload my project to GitHub so that you can take a look, if that's what you're asking?

I could also do a quick screen recording on my phone showing the problem in action, if that would help?

Also, I don't know if this affects anything or is of any use, but I am developing my app using a physical device (an or

[2019-02-03 18:32] Blendstrup commented on #30
Alright, so you want me to kind of extract the relevant code for this issue, and make it into its own smaller app, and then give you that code along with a guide on what to do to reproduce the issue?

(Sorry for the many questions, English is not my first language, and I want to make sure that I give you what you actually need)

[2019-02-03 19:04] sjmcdowall commented on #30
That would be perfect @Blendstrup !! Thank you.

[2019-02-03 21:53] Blendstrup commented on #30
Hey @sjmcdowall

I believe I've uploaded the project correctly, you can find it here:
https://github.com/Blendstrup/Flutter-PageWise-Duplication-Issue

I've stripped as much code as possible while still keeping the option for fetching and displaying movies and well as changing the category. I've also kept the search functionality, since this also produces the issue. I've commented a bit throughout

[2019-02-03 22:12] Blendstrup commented on #30
Oh by the way:
- The folder 'api' contains a data model for handling the fetched json
- The folder 'models' contains the scoped model (only one for this stripped app)
- The folder 'screens' contains the widgets that make up the screens that are shown to the user, in this case just a backdrop widget
- The folder 'widgets' contains... Widgets.

[2019-02-04 10:51] AbdulRahmanAlHamali commented on #30
Thank you for sharing all this info! I will look into this tonight hopefully, and once solved, we can push a new version

[2019-02-04 12:49] rakeshlanjewarwork commented on #35
Please let us know when the new version is releasing ?

[2019-02-05 10:52] AbdulRahmanAlHamali commented on #35
This week hopefully, we are finalizing a few more bugs and will release

[2019-02-05 11:33] AbdulRahmanAlHamali commented on #30
OK I think I caught the error. There seems to be some cases (not sure why they're happening) where the `_itemBuilder` is called more than once. Which is resulting in calling `pageFuture` multiple times. What we need to do is provide some sort of mutex, that checks whether we are already loading this page, and if so, disallows us from calling the action again.

I will work on this hopefully tonight

[2019-02-05 11:34] AbdulRahmanAlHamali commented on #25
Alright, I will look at that this week and will push a fix

[2019-02-05 15:10] sjmcdowall commented on #30
I’ve seen this behavior before with itemBuilders .. sadly .. but only itemBuilders and not if the children are static ..

And yeah .. need to keep a bool flag handy so it’s not repeated .. that’s the work around I did in the other project

Alas - Internet here is god awful til I switch hotels tomorrow afternoon

[2019-02-05 15:12] sjmcdowall commented on #25
We can grab the code that fixed it in TypeAheadField - it’s just a matter of adding <T> in a few more spots

You can see the diffs in GutHub for the fix and do the same

I would but my internet is basically zilch til tomorrow

[2019-02-06 09:24] #33 closed

[2019-02-06 09:24] #6 closed

[2019-02-06 09:24] #24 closed

[2019-02-06 09:24] #29 closed

[2019-02-06 09:24] #30 closed

[2019-02-06 09:24] #32 closed

[2019-02-06 09:24] #35 closed

[2019-02-06 09:24] #25 closed

[2019-02-06 09:50] AbdulRahmanAlHamali commented on #27
Closing due to lack of response. Please feel free to reopen the issue if you are still facing it

[2019-02-06 09:50] #27 closed

[2019-02-06 10:02] AbdulRahmanAlHamali commented on #34
Hello @ehhc, I apologize but I have not been able to test your issue yet. Were you able to make any progress?

[2019-02-06 10:20] ehhc commented on #34
hi @AbdulRahmanAlHamali thanks for your answer. No i wasn't able to make any progress.. The test (as given in the first post) fails and i'm not sure how to work around that.. Nonetheless, i noticed that the problem is not as urgent as i initially thought. I noticed that my main problem was not directly caused by your library but because i'm new to flutter and misunderstood something. Anyway: i thi

[2019-02-06 10:22] AbdulRahmanAlHamali commented on #34
Alright great to know you're not blocked by anything!

And I definitely agree, this is on the roadmap, and will let you know once your issue is solved!

[2019-02-06 10:48] ehhc commented on #34
Thanks again :)

[2019-02-07 13:53] lifenautjoe commented on #33
Awesome work @AbdulRahmanAlHamali !

[2019-02-07 17:46] sensiblearts opened #47 "initial load not triggered, ListView"
Greetings,

The package seems to be working very well for me except for one issue: The list is initially blank and I have to click the retry button to force the initialization (pageFuture for page 0).
After that, it pageFuture works just fine.

Is there a method to force initialization? Or am I doing something wrong?

Thanks.

Here is my code:

[code]

[2019-02-07 18:33] sensiblearts commented on #47
Never mind.
My entire widget (that contains yours) is being initialized too soon. I need to figure out Flutter's initialization logic. It's not your package. Sorry to bother.
DA

[2019-02-07 18:33] #47 closed

[2019-02-07 19:58] sjmcdowall commented on #47
StatefulWidget??

Then it’s initState. .. didChangeDrepencies .. build() with the occasional other method .. can’t remember ..

What’s your current code ?

Sent from my iPad

[2019-02-07 20:04] sensiblearts opened #48 "home route quirk"
Greetings,
I opened an issue earlier today but then closed it when I realized that it was a flutter isssue, not a flutter_pagewise issue.

However, this may help you:

Flutter seems to initialize the `home` route in **parallel** with the main widget initialization.

Therefore, if you happen to be using a `PagewiseListView` on your `home` route, then `PagewiseListview` will attempt to render, but f

[2019-02-07 20:15] sjmcdowall commented on #48
Or do a Future.wait in the main before invoking the App part ..

Sent from my iPad

[2019-02-08 03:44] anderscheow opened #49 "Add support for Staggered GridView"
In some use cases, such as image gallery, it will looks good if is in staggered form.

[2019-02-09 20:12] AbdulRahmanAlHamali commented on #48
I think the error that you were facing might be because of `_entries.sublist` that you showed in your other issue. The list is probably starting empty, and you are trying to take a sublist out of it.

I have to ask, though: why are you using Pagewise with a local list? The purpose of Pagewise is to load data from a remote server one page at a time. I suspect you might be using the tool the wrong w

[2019-02-09 20:17] AbdulRahmanAlHamali commented on #49
That is definitely on the roadmap! but I think I will create another project for it that depends on both Pagewise and Staggered Grid View, because I don't want to add dependencies here that people might not need.
@sjmcdowall do you know [Staggered Gridview](https://github.com/letsar/flutter_staggered_grid_view)? It would be cool to provide something that plays with them. What do you think?

[2019-02-09 20:21] sensiblearts commented on #48
Yes, I should have written back later yesterday when I figured that out!

I am no longer using the local List _entries, and everything works smoothly and more efficiently.

Much less code, too.

Thank you for this work!

You might consider adding something to your readme, saying something like, "PageWise caches the data internally. You can simply write your  `pageFuture(pageIndex)` function to ret

[2019-02-09 20:21] #48 closed

[2019-02-09 20:29] AbdulRahmanAlHamali commented on #48
Cool! Yeah not a bad thing to mention. Thank you David!

[2019-02-10 15:13] sjmcdowall commented on #49
Alas -- I have no used any Gridview widgets, staggered or otherwise.

However, I do agree that a new "StaggeredPagewise" type Widget is a reasonable way to approach this request .. Very "Fluttery" I think :)

[2019-02-20 18:52] mabinici opened #50 "Dart SDK version Error"
Running "flutter packages get" in app...
The current Dart SDK version is 2.1.0-dev.9.4.flutter-f9ebf21297.

Because app depends on flutter_pagewise >=1.2.2 which requires SDK version >=2.1.0 <3.0.0, version solving failed.

pub get failed (1)

[2019-02-21 01:22] sjmcdowall commented on #50
I just make a PR on the Develop branch to fix this.  Give it a try and if it works I'll Merge and Pub.. (I tried and seems fine for my project)

[2019-02-21 15:29] ccbenavides commented on #50
the same error.

[2019-02-21 16:00] sjmcdowall commented on #50
@ccbenavides are you using the develop branch within the pubspec??  Can you show the error?

[2019-02-24 12:07] RecherJ commented on #50
I just fixed this by changing sdk version to `sdk: ">=2.1.0-dev.9.4 <3.0.0"`, this is temporary solution.

[2019-02-25 14:30] jlopezr opened #52 "Example on how to implement a search tab with pagewise"

[2019-02-27 10:26] ehhc opened #53 "[Question] Restore scrollposition"
Hi,
is there any way to store and restore the scrollposition of the List?
I tried to use [PageStorageKey](https://docs.flutter.io/flutter/widgets/PageStorageKey-class.html) but i cant figure out, what to use as a key to make it work.
I tried different things (like the pageIndex) but it messed up the behavior of the list..

Thanks again for your help :)

[2019-02-27 10:30] ehhc commented on #50
if you do `flutter upgrade` first, it is fixed by now :)

[2019-02-27 12:45] sjmcdowall commented on #50
@ehhc -- Yes, saved by the upgrade!  LOL

[2019-02-27 23:07] #50 closed

[2019-02-27 23:08] sjmcdowall commented on #28
I think you found a couple .. perhaps we can close this :)

[2019-02-27 23:08] #28 closed

[2019-02-28 14:03] wiradikusuma opened #54 "Extra padding underneath"
I want to create a grid with exactly 3 items in 1 row.

For `pageFuture`, I use `_fetcher(0).then((l) => l.take(3).toList()))` to guarantee that it returns exactly three items.

	PagewiseGridView.count(
		crossAxisCount: 3,
		itemBuilder: this._itemBuilder,
		pageFuture: this._fetcher,
		pageSize: 20,
		shrinkWrap: true,
	)

But the displayed grid will always have a huge padding underneath, as if

[2019-03-06 13:03] saikuamar commented on #12
how to do we add refresh indicator. i need a refresh indicator which looks great .please any example how to do it
thanks for the helpo

[2019-03-10 17:16] lifenautjoe opened #55 "How to remove an item?"
How to remove an item from the pagewise list?

For example, when an item is deleted.

[2019-03-21 19:14] carmas123 commented on #55
Is also very interesting how we can insert manually an item on top after loading.

[2019-03-21 19:16] lifenautjoe commented on #55
Shouldn't be too hard.

if you're storing the items in an array:

`_items.remove(item)`, `items.add(item)`

Flutter handles the rest 🤔

[2019-03-21 19:34] asapJ opened #56 "Length called on Null ERROR"
I followed the examples stated carefully but each time I try to use the plugin,  my future completes with data successfully(i could log them to console ) but then I get the length called on Null error. On checking error stack It pointed to a line With

`Page.lenght <= another test case here`

But looking at this plugin,  there's no provision for page length,  So definitely that value might just b

[2019-03-21 19:37] asapJ commented on #56
@AbdulRahmanAlHamali

[2019-03-21 20:07] sjmcdowall commented on #56
What line # did it point to? Posting part of the error stack would be handy.  The line you highlighted appears to be a typo .. since it should be .length  not .lenght  ...

[2019-03-21 23:54] asapJ commented on #56
error log

D/GraphicBuffer(30454): register, handle(0x8947e8c0) (w:720 h:1198 s:720 f:0x1 u:f02)
I/zygote  (30454): Do partial code cache collection, code=61KB, data=53KB
I/zygote  (30454): After code cache collection, code=61KB, data=53KB
I/zygote  (30454): Increasing code cache capacity to 256KB
I/System.out(30454): port:5054
I/flutter (30454): [http://test.natterbase.com:5054/, FunctionId@92236

[2019-03-21 23:55] asapJ commented on #56
error log

E/flutter (30454): Receiver: null
E/flutter (30454): Tried calling: length
E/flutter (30454): #0      Object.noSuchMethod (dart:core/runtime/libobject_patch.dart:50:5)
E/flutter (30454): #1      PagewiseLoadController.fetchNewPage
package:flutter_pagewise/flutter_pagewise.dart:475
E/flutter (30454): <asynchronous suspension>
E/flutter (30454): #2      PagewiseState._itemBuilder
package:

[2019-03-22 12:22] sjmcdowall commented on #56
Thanks for the logs -- very helpful!  I'll see if I can take a look today or tomororw -- or if @KaYBlitZ wants to take a shot at it...

[2019-03-23 17:11] sjmcdowall commented on #56
I submitted a PR to fix this -- you can give it a whirl early by pointing your pubspec.yaml to my fork & the develop branch ...

[2019-03-25 16:53] lifenautjoe commented on #55
Hi @carmas123 , any idea of when might we see this happening? 🙏

[2019-03-25 19:33] sjmcdowall opened #59 "Can't publish new version"
@AbdulRahmanAlHamali -- I just tried to publish the latest version and got this:

UnauthorizedAccess: Unauthorized user: sjm@hawoods.org is not allowed to upload versions to package flutter_pagewise..

Can you modify the rights so both @KaYBlitZ and I can publish if needed?

Thanks

[2019-03-25 20:59] sjmcdowall commented on #55
Perhaps I am confused -- but what exactly is the expected outcome here?  Who is doing what?  I don't think anyone is working on anything on this "issue".  Can't you just modify the list and then do a setState() sort of thing to show the updated list?

[2019-03-25 21:01] lifenautjoe commented on #55
The list is not accessible for manipulation so can't really do that..

P.S. This is not the swift plugin I mentioned on the OneSignal repo though @sjmcdowall 🙈 it's https://github.com/BaseflowIT/flutter-permission-handler

[2019-03-27 03:22] wiradikusuma opened #60 "[ASK] Add/remove item and edit existing item"
Let me know if you prefer this to be in StackOverflow (posted here because it's a niche library).

Imagine you're building a Facebook clone, with flutter_pagewise powering the infinite scrolling of the wall. For each item, the user might want to tap to open the detail, and comment/like there. The user can also comment/like the item without going into the detail screen (that is, straight from the w

[2019-03-28 01:04] AbdulRahmanAlHamali commented on #59
Hello
Thanks for the great work guys!
@sjmcdowall I added you as an uploader.
@KaYBlitZ can you remind me of your email please?

[2019-03-28 01:54] KaYBlitZ commented on #59
Its kennethliang0@gmail.com

On Wed, Mar 27, 2019, 9:04 PM AbdulRahmanAlHamali <notifications@github.com>
wrote:

[2019-03-28 02:11] AbdulRahmanAlHamali commented on #59
Done

[2019-03-28 02:11] #59 closed

[2019-03-28 13:31] sjmcdowall commented on #60
This is a good issue -- and one that I hope @KaYBlitZ or @AbdulRahmanAlHamali can address.  If you have any ideas a PR would always be welcome as well.

[2019-03-30 13:59] sjmcdowall commented on #56
Fixed in latest release

[2019-03-30 13:59] #56 closed

[2019-04-01 08:38] asapJ commented on #56
Fix  confirmed

[2019-04-28 15:54] aabanaag opened #62 "PagewiseLoadController<dynamic>"
I got this error.

[code]
I have a simple implementation to which I just have
[code]

[2019-04-28 17:10] aabanaag commented on #62
Fixed it just needed to add `Future<List>` to my method so that it won't expect `Future<dynamic>`

[2019-04-28 17:10] #62 closed

[2019-05-01 10:34] euchael commented on #54
i have the same problem too, does anyone have a solution for this?

[2019-05-04 15:18] AbdulRahmanAlHamali commented on #54
@KaYBlitZ would you be interested in working on this? I know the reason it happens, but I don't have the time/resources to come up with a fix

[2019-05-14 03:29] shuat opened #63 "widget cannot be marked as needing to build because the framework is already in the process of building widgets"
I get the following exception when trying to implement your example in my app
[code]

[2019-05-14 10:01] sjmcdowall commented on #63
Need more of the stack trace and more code for your app (or the example) ... the below general is a logic error in your code ..

[2019-05-18 17:21] mohisham commented on #63
I too get a similar error.  My code actually works fine, but the pageFuture keeps firing even if I make slight changes to what's displayed on the screen.  I am trying to add a ```AsyncMemoizer``` which is causing the error below, and my data is never fetched from server:

[code]

[2019-05-19 18:18] rockerhieu commented on #63
It seems that `pageFuture` has to be created before `Widget#build()`. But this is really an issue as a pageFuture often depends on previous pageFuture.

[2019-05-30 20:02] rockerhieu commented on #26
@AbdulRahmanAlHamali if I want to make the header scrollable as part of the list, how should I do it?

[2019-06-01 03:33] HakuFlou opened #65 "Add way to build separators."
Something similar to `ListView.separated(...)`. Perhaps we can have something like `PagewiseListView.separated(...)`?

[2019-06-25 10:28] sbJonas opened #66 "Unhandled Exception: A PagewiseLoadController<Log> was used after being disposed."
Hi,

i got an app with a tabbed navigation. When i switch tabs (where one tab contains a PagewiseSliverList) very fast i get following exception:

[code]

[2019-07-02 08:10] lds8988 opened #67 "why _getStandardContainer should put a padding wrap the child?"
_getStandardContainer method in flutter_pagewise.dart put a padding wrap the child, thus my view can not be full of this screen. can I know why do this like that?

[2019-07-03 11:28] sbJonas commented on #55
I tried extending the PagewiseLoadController. Seems to work
[code]

[2019-07-03 12:56] carmas123 commented on #55
I'm using another package for now

[2019-07-08 08:15] abhinavc opened #68 "(PagewiseGridView) loadingBuilder shows less than expected"
Hi Abdul,
First, thanks for this wonderful library. I, however, can't seem to get `loadingBuilder` to work as I want it to.

In particular, I want to show a `2 x 5` grid of `Card` elements. Hence, I have defined the following

[code]

What I get instead is a `1 x 2` row of `EmptyCard`. What should my loading widget be so that `_getStandardContainer()` expands to show a `2 x 5` grid? I have tried `

[2019-07-08 08:43] abhinavc commented on #68
Could this be related to #67?

[2019-07-09 04:34] lds8988 opened #69 "can provide load more builder ?"
In my app, initial loading style is different from load more style. Now only provide loadingBuilder, I should judge by myself. That nice if can provide a load more builder.

[2019-07-09 11:05] Karbiya opened #70 "Item Redundant"
Hello,

I have list with item as below:
- a
- b
- c

and then i am request to load 3 more data using pagewise and the result is below:
- d
- e
- f

but why in my list it's shown as

- a
- b
- c
- c
- d
- e
- f

sometime it's shown the right result, but sometime it's shown the redundant, and the reduntant item it's always the last item on the requested list. thank you

[2019-07-17 09:59] yusufsafrudin commented on #12
Hello, Can you show me how to change value inside pagewise list like this
https://stackoverflow.com/questions/50044618/how-to-increment-counter-for-a-specific-list-item-in-flutter
thank you

[2019-07-18 07:29] yusufsafrudin commented on #60
Hello, Can you show me how to change value inside pagewise list like this
https://stackoverflow.com/questions/50044618/how-to-increment-counter-for-a-specific-list-item-in-flutter
thank you

[2019-07-19 10:35] alvaromarithompson opened #71 "How to center loadingBuilder content"
I've got a PagewiseListView being rendered inside a RefreshIndicator, which looks something like:

    @override
    Widget build(BuildContext context) {
      return Scaffold(
        body: RefreshIndicator(
          onRefresh: () async {
           /* code here */
          },
          child: PagewiseListView(
            pageLoadController: _pageLoadController,
            loadingBuilder: (co

[2019-07-26 18:50] vAugagneur opened #72 "Remove outside margin"
Hi,
I don't find any options to remive outside margin (see screenshot : https://i.imgur.com/vtnmKjx.png)

Best regards

[2019-08-06 17:13] vAugagneur commented on #72
up ?

[2019-08-10 22:08] fahadgithub1 opened #73 "Change Page Index"
I want to change PageIndex to start from 1 instead of 0

PagewiseListView(
            pageSize: PAGE_SIZE,
          pageFuture: (pageIndex) =>
              db.getAds(pageIndex * PAGE_SIZE, PAGE_SIZE),
            itemBuilder: (context, i, _) {
              return Container(
                  child: Card(
                    elevation: 6,
                    child: Padding(

[2019-08-11 13:50] #73 closed

[2019-08-11 13:52] fahadgithub1 commented on #73
**I solved the problem**

[2019-08-19 07:22] wyklif commented on #52
just look at the example in the repo

[2019-08-19 07:25] wyklif opened #74 "Keep from reloading on navigate back to tab"
Hi thanks for the wonderful library, i have a question, is there a way to not reload afresh the previously visited tabs?
thanks

[2019-08-19 17:18] wyklif commented on #74
Solved this by converting my widgets to stateful widgets and using the AutomaticKeepAliveClientMixin thanks again for the wonderful library

[2019-08-19 17:18] #74 closed

[2019-08-24 16:53] disburden opened #75 "About the screenshot"
Can you provide the ability to generate a long image of all the gridview content?
Including the invisible parts, I desperately need this functionality, but do not know how to implement

[2019-08-29 08:01] amitkhairnar44 opened #76 "Provide error data in retryBuilder"
Providing error data in retryBuilder would be helpful since it would help in identifying the error that caused the PageWiseListView to show retry widget.

In my use case I want to show both error and retry.

[code]

[2019-09-26 18:26] luis901101 opened #77 "Wrong behavior when reset is called multiple times too fast"
I implemented a query search which filters the data shown in a pagewise list while the user is typing in the input text. Every time the user writes a new character in the input text a function is triggered which resets() the PagewiseLoadController to force to fetch new data from page 0... this works fine if the user types slow, but if the text is entered fast then the reset() gets called while the

[2019-10-01 20:40] wyxcoder commented on #63
Any followup on this? I am having the issue and cannot figure out why.
If I put this to test in pageFuture, it works fine

return Future.delayed(Duration(seconds: 10), () => [{'a':'Large Latte'}]);

But if I use http to get from my server, It gives the error

  var response = await http.get
  ....

The following assertion was thrown while dispatching notifications for PagewiseLoadController<dynami

[2019-10-02 05:27] wyxcoder opened #78 "How to add a pull down refresh?"
Reload first page, set pageIndex to 0

[2019-10-02 12:00] sudip92 opened #79 "when ever the list loads its throws an error :setState() or markNeedsBuild() called during build."
════════ (2) Exception caught by foundation library ════════════════════════════════════════════════
setState() or markNeedsBuild() called during build.

[2019-10-18 20:44] oxydron commented on #78
Should be the `retryBuilder` parameter, but it doesn't seem to work. Not only it ,`errorBuilder` seems to not work either.

[2019-10-19 07:31] webrndexperts opened #80 "Loading only 2 pages"
Issue #1:

PagewiseGridView.count(
        pageSize: pageSize,
        primary: true,
        shrinkWrap: true,
        crossAxisCount: 2,
        childAspectRatio: 1,
        padding: const EdgeInsets.only( top: 5.0),
        itemBuilder: this._getStructuredGridCell,
        pageFuture: (pageIndex) async{
          return BackendService.getImages( pageIndex * pageSize, pageSize, merchantId, json.

[2019-10-19 07:31] webrndexperts commented on #79
Can you please share the code?

[2019-10-19 09:05] webrndexperts commented on #80
I resolved issue #1. There was an error in the JSON, API was returning. int is not a subtype of string. I can to know about this issue by using

errorBuilder: (context, error){
          print( error.toString() );
          return Text( error.toString() );
},

[2019-10-19 09:09] webrndexperts commented on #80
Issue #2 was related to issue 1. All good now. Thank you for a wonderful package.

[2019-11-12 18:45] pilotviper134 opened #82 "List refresh"
Hello,

I have normal list with comments in my app.

`Widget ShowComments() {
    return PagewiseListView(
        pageSize: PAGE_SIZE,
        physics: const AlwaysScrollableScrollPhysics(),
        loadingBuilder: (context) {
          return Container(
            child: Center(
                child: Container(
                  child: CircularProgressIndicator(
                    valueColor:

[2019-11-12 18:47] pilotviper134 commented on #82
I will add that the items on the list are downloaded from the server and they download the content when they first enter the screen. Everything works nicely. The problem is that on the same screen the user can leave a comment. after leaving a comment, the list will not be refreshed until I leave and enter the screen again, my added comment will be shown. How to fix it?

[2019-11-12 18:48] pilotviper134 commented on #52
unfortunately there is no example of how to do this in the files

[2019-11-12 18:51] pilotviper134 commented on #55
@sbJonas  could you write an example how to use it?
@carmas123  what plug-in are you using now?

[2019-11-13 11:53] sbJonas commented on #55
Hi @pilotviper134,

to use the EditablePagewiseLoadController it has to be set up like the standard PagewiseLoadController

[code]

Then the updateItem and removeItem functions can be used like this:

[code]
Hope this helps

[2019-11-14 19:12] luis901101 opened #83 "newPage.length > pageSize"
Currently when a new fetched page length is bigger than pageSize an exception is thrown and the list never gets populated even when the data fetch was success. _This is a rare situation but possible in case for example that the API endpoint you are requesting doesn't implement pagination and returns all data in each request._

This is the code currently:
`if (length > this.pageSize) {
        _isF

[2019-11-28 14:07] oxydron commented on #79
Same problem.

[2019-12-09 08:37] kairyou commented on #71
[code]

[2019-12-24 19:27] oxydron opened #84 "If pageFuture callback throws an exception, pagewise supress the exception."
On line 472 of flutter_pagewise.dart, your catch supress the throw on line 473, therefore, any exceptions that may occur on the pageFuture callback are supressed, creating an invisible problem.

[2020-01-28 13:33] unveloper opened #85 "Feature to use Pagewise with streams"
I was wondering if there is any change that this library will support streams instead of futures.

It will be cool if the Pagewise widgets act like a StreamBuilder so they could be used with Firebase and Moor streams for example, allowing realtime updates.

Thanks

[2020-02-06 12:27] mishatron commented on #78
There is also a problem with refresh. When we set pagewise into refresh indicator and add retry widget to pagewise  (with reversed=true) - unexpected behavior is present. when we tap to button or any area of list - button moves from bottom to top

[2020-02-06 12:28] mishatron commented on #69
yeah, it would be very useful feature

[2020-02-18 15:16] huhuang03 commented on #63
I have the same issue, and I can't figure out how to fix it. If I server returns, and I can't notify the data change, how can I change without notify. That I use th ValueListenableBuilder to build the UI.

[2020-03-21 19:24] mishatron commented on #82
@pilotviper134 you can extend PagewiseLoadController and create there a method like
`void insertItem(int position, T item) {
    this.loadedItems.insert(position, item);
    this.notifyListeners();
  }`
This will allow you to update UI after adding a comment. Issue can be closed

[2020-03-21 19:28] mishatron commented on #71
@kairyou  It is a bad suggestion because the list can be inside another widget and it is impossible to decrease its the height

[2020-04-03 16:35] luckv commented on #79
Probably you are trying to call `setState()` in the callback passed as listener of `PagewiseLoadController`.
You can do:
[code]

This happens because the callback is called when the child is drawing when the parent calls` setState()`

[2020-04-06 14:46] luckv commented on #77
I have the same problem too

[2020-04-07 07:26] luckv commented on #66
I have the same exception. But It happens only when I pop a new route on top of the current page

[2020-04-20 17:45] itelixgithub commented on #83
hey @luis901101
implemented the lirbary yesterday - got the same annoying error.
do you have any hot fix for that ?
if not i'll have to write my own pagination logic.
thanks in advance!

[2020-04-20 17:54] luis901101 commented on #83
You will have to implement your own fix... You can use this library code by doing the fix I recommend above.

[2020-04-22 10:11] ggichure commented on #49
any updates on this?

[2020-04-27 16:31] thegrxp opened #86 "Fetch new page before reaching end of the page"
For more fluidity for the user I would like to load the next page before reaching the last item of the current page. Is it possible to achieve this with this library? Thank you!

[2020-05-30 12:21] marcjoha commented on #72
It's hardcoded https://github.com/AbdulRahmanAlHamali/flutter_pagewise/blob/master/lib/flutter_pagewise.dart#L330

You would have to open a fork and remove it yourself.

[2020-06-17 12:38] dufei816 opened #87 "PagewiseGridView----noItemsFoundBuilder"
noItemsFoundBuilder return Widget height overflowed pixels
![image1](https://user-images.githubusercontent.com/10303121/84898825-6b6ebd00-b0da-11ea-81b9-009a9b495162.png)

What shall I do?

[2020-06-19 09:07] HakuFlou commented on #65
Belated anniversary, I guess.

[2020-06-21 14:43] andyngdz commented on #65
Yeah, I need it too. Any ideas on how to achieve this 😄 ?

[2020-06-21 14:45] andyngdz commented on #65
Hi @HakuFlou ,

You can use `PagewiseSliverGrid` with `mainAxisSpacing` or `crossAxisSpacing`  to achieve this

By the way, don't forget to set `crossAxisCount: 1` if you want vertical list.

[2020-07-30 06:13] RaashVision opened #88 "How to add initial Data to sliverlist"
Any one know how to add initial data to the sliverlist pagination?

[2020-08-20 19:39] JanNovakFRI opened #89 "Creating custom Pagewise Widget"
Hello, I have a problem creating a custom pagewise widget. I have checked examples and the problem is that I can not access state properties, because they are private. Are there any plans to fix this?

[code]

[2020-09-03 06:30] allyblaise opened #90 "Force scroll to position"
Is there any that i can scroll to top, bottom or custom position programmatically?

[2020-09-13 17:04] BradyEdgar94 commented on #77
I just used the https://pub.dev/packages/debounce_throttle package and it works for me now

[2020-09-15 10:26] drosa88 opened #91 "Batch instead of lazyload on scrolling to the bottom"
I created json file which includes all paths for the images. With this file I want to work as future source in flutter_pagewise.

**The function which returns the list from json for pagewise**

[code]

**The ImageModel class (copied from official documentation)**

[code]

**The PageWise Widget**

[code]

**What I expect:** I expect that the Widget loads only 10 images and after I scroll down to th

[2020-09-27 10:46] dufei816 opened #92 "PagewiseGridView"
PagewiseGridView.count
Android/IOS
Fast sliding app abnormal exita

---------------------------------code----------------------------------------

[code]

[2020-10-02 13:59] klasenma commented on #71
Is there a solution in the meantime?

[2020-11-18 14:13] sarman commented on #71
CircularProgressIndicator located in the ListView, so i use LayoutBuilder and numberOfLoadedPages for reduce height of indicator while load other pages than first.

`LayoutBuilder(
                builder: (context, constraints) => PagewiseListView<YourClass>(
                      pageLoadController: YourController.pageLoadController,
                      loadingBuilder: (context) {

[2020-12-16 09:56] md84419 opened #93 "Support null safety"
[code]

[code]

[code]

[2020-12-20 03:32] anass-naoushi opened #94 "Allow dynamic pagesize"
My projects fetches different pagesizes every call since it is user personalized, it would be helpful for many to make this possible. When the pagesize changes than indicated, the widget stops loading more.

[2020-12-29 15:53] duranddsouza opened #95 "Wrapping PagewiseSliverGrid.count in a Consumer doesn't reload grid"
Hello this is probably more of a question than an issue (As I am a noob to flutter and dart couple of days old)

[code]

[2020-12-29 17:45] duranddsouza commented on #95
Used PagewiseLoadController in changenotifier class

[2020-12-29 17:45] #95 closed

[2021-01-11 19:06] wyxcoder commented on #79
Is the problem solved?

[2021-01-13 10:06] amitkhairnar44 commented on #76
@sjmcdowall @AbdulRahmanAlHamali is this repository not maintained anymore?

[2021-01-14 12:20] sjmcdowall commented on #76
I do not maintain this one -- just the typeahead ..

[2021-02-20 23:38] kelvinwatson opened #96 "Paginated scroll state not preserved"
The paginated list state isn't preserved when I switch tabs (via bottomNavigationBar for example).

[2021-03-04 18:03] amit-onappr commented on #86
Did anyone found a solution for this?

[2021-03-31 14:25] komekh opened #97 "How to keep pageFuture state ?"
Hi.
Thanks for awesome library.
I want to implement search text in widget, But in every keyboard action (open and close) widget rebuilds and pageFuture calls again. Is there any way to keep pageFuture state ?
 Here is my code.
`_initEditablePagewiseLoadController() {
    _pageLoadController = EditablePagewiseLoadController(
      pageSize: Constants.PAGE_SIZE,
      pageFuture: (pageIndex) => Prov

[2021-04-02 09:16] indjec opened #99 "How do we add a parent widget to PagewiseListView"
When i try to wrap PagewiseListView with a column so that i can add a Text widget before the PagewiseListView, it does not render the PagewiseListView?? Thanks

[2021-04-05 06:24] indjec opened #101 "How to remove a item from itemBuilder ?"
How to remove a particular item from the PagewiseListView?

[2021-04-06 04:54] limsocheat opened #102 "Operand of null-aware operation '?.' has type 'List<T>' which excludes null. (version 2.0.0)"
After upgraded the version to 2.0.0. I got the error below on the app start-up.

[code]

[2021-04-06 05:03] limsocheat commented on #102
Sorry.

Upgraded to version 2.0.1 seems to have fixed the issue.

[2021-04-06 05:03] #102 closed

[2021-04-27 12:19] Cinux-Chosan commented on #63
same error!

[2021-04-27 12:34] Cinux-Chosan commented on #63
This is my pageFuture: `pageFuture: (pageIndex) => _loadData(pageIndex, pageSize)`

I get this error when the return type of `_loadData`  is dynamic:

error:
[code]

when I give the `_loadData` a return type will work fine for me:

right:
[code]

[2021-05-02 12:33] grishundel commented on #101
It is written that you can somehow create a custom list using this package, but I did not understand how to use it. So I did this by changing the package code. You can find it in "flutter\. pub-cache\hosted\pub.dartlang. org\flutter_pagewise-2.0.1\lib\flutter_pagewise.dart". There in the class PagewiseLoadController < T> extends ChangeNotifier I added:

[code]

Next, without compiling, I just save

[2021-05-16 16:39] deandreamatias commented on #93
This issue will be closed. This feature has been implemented by PR #98

[2021-05-17 09:42] md84419 commented on #93
Thank you!

[2021-05-27 10:37] jeffpena opened #103 "how to use with bloc?"
Do you have an example on how to implement it using bloc pattern?

[2021-06-04 08:59] 0ttik opened #104 "Add mainAxisExtent to PagewiseSliverGrid"

[2021-06-16 10:50] indjec opened #105 "How to pass more parameters in PageWiseLoadController"
I want to pass an id  when i build the pagewiseloadcontroller.
[code]

This is the basic code given in the example, how can we pass more than one parameters in the getPage method?

[2021-07-03 15:35] deandreamatias commented on #93
@md84419 can close this issue 🚀

[2021-07-07 09:52] MyisCARRY commented on #99
Wrap PagewiseListView with Expanded

[2021-07-07 14:47] deandreamatias commented on #105
Hey @indjec I made this:
`        _pageLoadController = PagewiseLoadController<Result>(
          pageSize: 20,
          pageFuture: (int page) => model.loadList(
            textEditingController.text,
            page + 1,
            LocalizedApp.of(context)
                .delegate
                .currentLocale
                .languageCode
                .toString(),
          ),

[2021-07-07 14:50] deandreamatias commented on #104
This will be nice

[2021-10-04 22:34] indjec opened #106 "How to get the list of loadedItems"
Is there any way by which we can only get the list of loaded item and create our own Listview to display the items.

[2021-10-04 22:34] #105 closed

[2021-10-04 22:34] #99 closed

[2021-10-04 22:34] #101 closed

[2021-11-29 03:33] alexisuranga opened #107 "How to place search field and update Grid"
Greetings, I would like to place a TextFormField in the AppBars and perform the search, I have already done the search but I do not know how to update the PagewiseSliverGrid.

[2021-12-24 02:02] alexisuranga opened #108 "Sort PagewiseGridView from a button"
Greetings, Any way to order the GridView from a button for example, without having to make the request again to the server

[2021-12-24 02:22] alexisuranga commented on #107
Solucion encontrada usando AnimSearchBar, de igual manera puede utilizar una caja de texto generica.

Solution found using AnimSearchBar, in the same way you can use a generic text box.

 TextEditingController controllerBuscar = TextEditingController(text: '');

@override
  void initState() {
    super.initState();
	// Se agrega Listener para que cada vez que escriba una letra el mismo realice la

[2021-12-24 02:22] #107 closed

[2022-01-14 02:48] kevin4dhd commented on #74
where did you put AutomaticKeepAliveClientMixin? could you show me an example please

[2022-01-19 14:24] kevin4dhd commented on #49
any update? I need it :(

[2022-02-11 08:40] Sewx commented on #91
I am also encountering this issue

[2022-03-10 04:02] kingmaster772 commented on #63
If you guys use GetX, this issue solved for me by adding these lines on `initState()`
[code]

[2022-09-06 03:04] thaliashospitality opened #110 "The method 'FlatButton' isn't defined for the class 'PagewiseState<T>'."
[code]

[2022-09-21 12:57] aleksandar-radivojevic opened #112 "Another error with Flutter 3.3"
Hey bro, much love for your work, I have been using your plugin for a long time now. Can you please take a look at this error?
<img width="929" alt="Screenshot 2022-09-21 at 14 42 29" src="https://user-images.githubusercontent.com/36572426/191509655-128ff053-8d5d-4bff-813e-e5f8a2ac171f.png">

[2022-09-23 21:13] romeshn commented on #112
I have the same problem

[2022-09-27 00:43] teoprayoga opened #114 "pagewise 2.0.3 on flutter >=3.0.5"
flutter_pagewise.dart:510:23: Error: Method 'removeWhere' cannot be called on 'List<T>?' because it is potentially null.